{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(f) }}
    <div class="ht__bradcaump__area">
        <div class="ht__bradcaump__container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Modifier Votre Reclamation:</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(f) }}
{% endblock %}