{% extends'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1 style="margin-left: 30%;">Ajouter une matiere </h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.nom,{'attr':{'placeholder':" nom de la matiere"}}) }}
    {{ form_row(form.coeff,{'attr':{'placeholder':"coefficient"}}) }}


    <button type="submit" class="btn-primary btn"> Ajouter </button>
    {{ form_end(form) }}

{% endblock %}