{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <br>
    <br>

    <!-- Start Single Service -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="service bg--white border__color wow fadeInUp">
            <div class="service__icon">
                <img src="{{ asset('images/shape/sm-icon/2.png') }}" alt="icon images">
            </div>
            <div class="service__details">
                <h6><a href="service.html">Drawing Class</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                <div class="service__btn">
                    <a class="dcare__btn--2" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- End Single Service -->
    <br>
    <br>
{% endblock %}