{% extends 'base.html.twig' %}
{% block body %}
    <div class="dcare__event__area bg--white section-padding--lg">
        <div class="container">
            <div class="row event-grid-page">
    <!-- Start Single Event -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="dcare__event">
            <div class="event__thumb">
                <a href="event-details.html">
                    <img src="images/event/mid-img-2/1.jpg" alt="event images">
                </a>
            </div>
            <div class="event__content">
                <div class="event__pub">
                    <div class="event__date">
                        <span class="date">14</span><span>th</span>
                    </div>
                    <ul class="event__time">
                        <li>December, <i class="fa fa-clock-o"></i>5.00 am to 9.00 pm</li>
                        <li><i class="fa fa-home"></i>Childrens Club, Uttara, Dhaka</li>
                    </ul>
                </div>
                <div class="event__inner">
                    <p><a href="event-details.html">Holiday ! Toy Making Workshop Wakw Up...</a></p>
                </div>
                <ul class="event__btn">
                    <li><a href="#">Book Now</a></li>
                    <li><a href="event-details.html">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start Single Event -->
    <!-- Start Single Event -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="dcare__event">
            <div class="event__thumb">
                <a href="event-details.html">
                    <img src="images/event/mid-img-2/1.jpg" alt="event images">
                </a>
            </div>
            <div class="event__content">
                <div class="event__pub">
                    <div class="event__date">
                        <span class="date">14</span><span>th</span>
                    </div>
                    <ul class="event__time">
                        <li>December, <i class="fa fa-clock-o"></i>5.00 am to 9.00 pm</li>
                        <li><i class="fa fa-home"></i>Childrens Club, Uttara, Dhaka</li>
                    </ul>
                </div>
                <div class="event__inner">
                    <p><a href="event-details.html">Holiday ! Toy Making Workshop Wakw Up...</a></p>
                </div>
                <ul class="event__btn">
                    <li><a href="#">Book Now</a></li>
                    <li><a href="event-details.html">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start Single Event --><!-- Start Single Event -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="dcare__event">
            <div class="event__thumb">
                <a href="event-details.html">
                    <img src="images/event/mid-img-2/1.jpg" alt="event images">
                </a>
            </div>
            <div class="event__content">
                <div class="event__pub">
                    <div class="event__date">
                        <span class="date">14</span><span>th</span>
                    </div>
                    <ul class="event__time">
                        <li>December, <i class="fa fa-clock-o"></i>5.00 am to 9.00 pm</li>
                        <li><i class="fa fa-home"></i>Childrens Club, Uttara, Dhaka</li>
                    </ul>
                </div>
                <div class="event__inner">
                    <p><a href="event-details.html">Holiday ! Toy Making Workshop Wakw Up...</a></p>
                </div>
                <ul class="event__btn">
                    <li><a href="#">Book Now</a></li>
                    <li><a href="event-details.html">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start Single Event -->
            </div></div></div>
{% endblock %}