{% extends 'base.html.twig' %}
{% block body %}
    <div class="ht__bradcaump__area">
        <div class="ht__bradcaump__container">
            <img src="{{ asset('images/bg-png/6.png') }}" alt="bradcaump images">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Creer un menu<</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index.html">Acceuil</a>
                                <span class="brd-separetor"><img src="{{ asset('images/icons/brad.png') }}" alt="separator images"></span>
                                <span class="breadcrumb-item active">Creer un menu</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="page-gallery-details bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="gallery__details__wrapper with--rightbar">
                        <div class="gallery__inner">
                            <img src="images/gallery/big-img/b1.jpg" alt="gallery images">
                            <h2>Creating Funny Things</h2>
                            <p>Loxcepteur sint  occaecat cupidatat non prdent, suntw in culpa qui officia deserunt mollit aLorem ipsum dolor scadi pisicinelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitaulaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo Loxcepteur sint  occaecat cupidatat non prdent, suntw in culpa qui officia deserunt mollit aLorem ipsum dolor sit amet, cadipisicinelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qunostrud exercitation ulaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolordatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                        <div class="gallery__new">
                            <ul class="gallery__list">
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                <li><a href="#">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                <li><a href="#">dent, sunt in culpa qui officia des</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedd.</a></li>
                            </ul>
                            <div class="gallery__sm__thumb">
                                <img src="images/gallery/big-img/b2.jpg" alt="gallery image">
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli, sed do eiusmod tempor incididunt ut labmagna. Ut enim ad miniveniam, quis nostrud exercitation ullamlaboris nisi ut aliquip ex ea commodo conse aute imure dolor in reprehenderit in voluptate velit esse cil Gajan Mante lew</p>
                        <h4>Like this Project ?..Stay With us</h4>
                        <div class="gallery__share">
                            <span>Share By:</span>
                            <ul class="dacre__social__link--2 bg--2 d-flex justify-content-start">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li class="vimeo"><a target="_blank" href="https://www.vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Start Sidebar -->
                <div class="col-lg-3">
                    <div class="sidebar__widgets sidebar--right">

                        <!-- Single Widget -->
                        <div class="single__widget search">
                            <h4>Search</h4>
                            <form action="#">
                                <input type="text" placeholder="Search keyword">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget about">
                            <div class="about__content">
                                <img src="images/others/1.jpg" alt="about images">
                                <div class="about__info">
                                    <div class="about__inner">
                                        <span>UI UX Designer</span>
                                        <h6>Easy Browdiliya</h6>
                                        <ul class="dacre__social__link d-flex justify-content-center">
                                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                            <li class="vimeo"><a target="_blank" href="https://www.vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                            <li class="pinterest"><a target="_blank" href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget recent__post">
                            <h4>Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="blog-details.html"><img src="images/blog/sm-img/1.jpg" alt="post images"></a>
                                    <div class="post__content">
                                        <h6><a href="blog-details.html">Sports day is near get ready soon</a></h6>
                                        <span class="date"><i class="fa fa-calendar"></i>30th Dec, 2017</span>
                                    </div>
                                </li>

                                <li>
                                    <a href="blog-details.html"><img src="images/blog/sm-img/2.jpg" alt="post images"></a>
                                    <div class="post__content">
                                        <h6><a href="blog-details.html">Sports day is near get ready soon</a></h6>
                                        <span class="date"><i class="fa fa-calendar"></i>20th Dec, 2017</span>
                                    </div>
                                </li>

                                <li>
                                    <a href="blog-details.html"><img src="images/blog/sm-img/3.jpg" alt="post images"></a>
                                    <div class="post__content">
                                        <h6><a href="blog-details.html">Sports day is near get ready soon</a></h6>
                                        <span class="date"><i class="fa fa-calendar"></i>10th Dec, 2017</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget offer">
                            <div class="offer__thumb">
                                <img src="images/others/2.jpg" alt="offer images">
                            </div>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget recent__comment">
                            <h4>Recent Comment</h4>

                            <ul>
                                <li>
                                    <h6><a href="#">Creative Design for blog post..also simple.</a></h6>
                                    <ul>
                                        <li>13 Oct 2017</li>
                                        <li>04.00am</li>
                                        <li><a href="#">Lostrees</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <h6><a href="#">Creative Design for blog post..also simple.</a></h6>
                                    <ul>
                                        <li>14 Oct 2017</li>
                                        <li>04.00am</li>
                                        <li><a href="#">Irin</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <h6><a href="#">Creative Design for blog post..also simple.</a></h6>
                                    <ul>
                                        <li>17 Oct 2017</li>
                                        <li>04.00am</li>
                                        <li><a href="#">Najnin</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget Popular__classes">
                            <h4>Popular Classes</h4>
                            <ul>
                                <li><a href="class-details.html">Drawing Class</a></li>
                                <li><a href="class-details.html">Dance Class</a></li>
                                <li><a href="class-details.html">Preschool Class</a></li>
                                <li><a href="class-details.html">Preschool Class</a></li>
                                <li><a href="class-details.html">Swimming Class</a></li>
                                <li><a href="class-details.html">Sports Class</a></li>
                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget instagram__feed">
                            <h4>Instagram Feed</h4>
                            <ul>
                                <li><a href="#"><img src="images/blog/ins/1.jpg" alt="instafeed images"></a></li>
                                <li><a href="#"><img src="images/blog/ins/2.jpg" alt="instafeed images"></a></li>
                                <li><a href="#"><img src="images/blog/ins/3.jpg" alt="instafeed images"></a></li>
                                <li><a href="#"><img src="images/blog/ins/4.jpg" alt="instafeed images"></a></li>
                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget recent__twitter">
                            <h4>Recent Tweets</h4>
                            <ul>
                                <li>
                                    <h6><a href="#">@hellotwitter world</a></h6>
                                    <p>Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <div class="twit__time">
                                        <span>13 Feb 2016</span>
                                        <span>04.00am</span>
                                    </div>
                                </li>

                                <li>
                                    <h6><a href="#">@goodmorning twitter</a></h6>
                                    <p>Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <div class="twit__time">
                                        <span>20 Feb 2017</span>
                                        <span>04.00am</span>
                                    </div>
                                </li>

                                <li>
                                    <h6><a href="#">@new vivew with new day</a></h6>
                                    <p>Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <div class="twit__time">
                                        <span>13 Feb 2017</span>
                                        <span>04.00am</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget Social__network">
                            <h4>Social Network</h4>
                            <ul class="dacre__social__link--2 bg--2 d-flex justify-content-start">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li class="vimeo"><a target="_blank" href="https://www.vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Widget -->

                        <!-- Single Widget -->
                        <div class="single__widget tags">
                            <h4>Tags</h4>
                            <ul>
                                <li><a href="#">Junior</a></li>
                                <li><a href="#">Ipsum</a></li>
                                <li><a href="#">Dcare</a></li>
                                <li><a href="#">Class</a></li>
                                <li><a href="#">Teacher</a></li>
                                <li><a href="#">Child</a></li>
                                <li><a href="#">Care</a></li>
                            </ul>
                        </div>
                        <!-- End Widget -->

                    </div>
                </div>
                <!-- End Sidebar -->

            </div>
        </div>
    </section
{% endblock %}