{% trans_default_domain 'FOSUserBundle' %}
<h1 style="margin-bottom: 20px;margin-left:40%;margin-top: 0px;"> <img src="{{ asset('login1/jardin.png') }}" style="width: 350px;height: 300px;"></h1>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">

            <div class="sign-up-htm">
<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
</div>
            </div>
        </div>
    </div>
</div>