{% extends'baseAdmin.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="container-fluid">


        <div data-widget-group="group1">

            <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2>Ajouter personnel</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                </div>
                <div class="panel-editbox" data-widget-controls=""></div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal row-border">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Matricule</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.matricule, {'attr': {'class': 'form-control','placeholder':'matricule Bus ...'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre Places</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.nbPlaces, {'attr': {'class': 'form-control','placeholder':'nombre des Places par BUs ...'}}) }}
                            </div>
                        </div>

                    </form>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn-primary btn">Modifier details BUS</button>

                        </div>
                    </div>
                </div>
            </div>




        </div>


    </div>
    {{ form_end(form) }}
{% endblock %}